/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 70px;
    line-height: 70px;
    background-color: white;
    padding-left: 20px;
    margin-bottom: 30px;
}

h1{
    display: inline;
    font-size: 38px;
    font-weight: 900;
    vertical-align: middle;
}

h3{
    margin-top: 30px;
}

ul{
    list-style-type: none;
}


/* Utilis */
.bg-white{
    background-color: white;
}

.container{
    width: 1080px;
    margin: 0 auto;
}

.rounded{
    border-radius: 5px;
}

section{
    padding: 10px 30px ;
}

/* Header */
#logo{
    vertical-align: middle;
}


/* Actions section */
#actions{
    border-bottom: 1px solid #aaa ;
}


/* button */
.btn{
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid transparent;
}

.btn-primary{
    color: white;
    background-color: dodgerblue; 
    border-color: dodgerblue;
}

.btn-secondary{
    color: lightgrey;
    border: 1px solid currentColor;
}


/* tasks */
.task-item{
    line-height: 40px;
    height: 40px;
}


.task-status{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
}

.check{
    color: green;
    border: 1px solid currentColor;
}

.cross{
    color: red;
    border: 1px solid currentColor;
}

.task-text{
    vertical-align: middle;
}


/* badge */
.badge{
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
}

.badge-editorial{
    background-color: dodgerblue;
}

.badge-q1{
    background-color: blueviolet;
}

.badge-recruiting{
    background-color: lightgreen;
}

.badge-mobile{
    background-color: orange;
}

.badge-website{
    background-color: violet;
}

.badge-sales{
    background-color: greenyellow;
}